
@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

body {

    font: 18px Lato;
    background-image: url('./img/map-bg.jpg');
}


nav {
    font-family: sans-serif; 
    font-size: 10px;
}


#main {
    width: 900px; 
    margin: 10px auto;
}


h1 {
    font: 45px Supermercado One;
    color: #5d4037;
}

#menu {
    columns: 400px 2;
    column-gap: 100px;
    column-rule: 2px dashed rosybrown;
}

section {
    margin-bottom: 50px;
}

h2 {
    text-transform: lowercase;
    color: #6d4c41;
    margin: 0;}

dt {
       font-weight: bold;
       font-size: 20px;
       
    }


dd {
    margin: 0 0 12px 0; 
    display: flex;
}


.details {
        order: 1;
    }

 .price {
        order: 2; 
        padding-left: 10px;
        color: firebrick;
        font-size: 20px;
    }
 address {
        padding: 10px;
        border: 2px dashed rosybrown;
    
    
    }