@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body{
    font: 14px Oswald;
}

nav {
    font-family: sans-serif;
     font-size: 10px;
    }

 #main {
        width: 900px;
         margin: 10px auto;
    }
    

h1 {
        font-family: Bungee Inline;
        font-size: 46px;
        font-weight: lighter;

    }


#menu {
    columns: 420px 2;
    column-gap: 60px;
}


section {
    margin-bottom: 20px;
    padding: 10px;

}

h2 {
    margin-top: 0;
    text-transform: uppercase;
}

dt {
    font-weight: bold;
    font-size: 16px;
    display: inline;
    
}




dd {
    display: inline;
     margin: 0;
    }


dd::after {content: ""; 
    display: block; 
    clear: both;
    margin-bottom: 15px;
}


dd::before{
    content:",";
}

.price {
    float: right; 
    padding: 0 0 35px 20px;
}

address{
    text-align: right;
}



#desserts {
    border: 2px solid black;

}



#starters{
    border: 2px solid black;

}
